@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&family=Patua+One&display=swap');

body {
    display: flex;
    font-family: 'Patua One', cursive;
    font-size: xx-large;
    padding: 10%;
    /* justify-content: center; */
}

.tutto {
    border: solid 5px yellow;
    width: 100vw;

}


/* --- CLASSROOM MANAGER --- */
header {
    border: solid 3px blue;
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Patua One', cursive; */
    /* font-family: 'PT Sans', sans-serif; */
    display: flex;
    flex-grow: 1;
    justify-content: center;
}


.container-center{
    border: solid 2px purple ;
    display: flex;
    flex-grow: 2;
}

main {
    border: solid 3px green;
    display: flex;
    flex-grow: 3;
    padding: 5%;
}

/* .stocazzo {
    grid-area: myArea;
} */
ul {
    
    border: solid 1px yellow;
    columns: 2;
    margin: 5%;
    /* display: grid;
    grid-template-areas: 
    'myArea myArea myArea myArea' */
    
    ;

}


.right-nav {
    display: flex;
    border: solid 3px red;
    flex-grow: 1;
    justify-content: center;
    


}

.inserimento-utente {
    border: solid 2px black;
    /* display: flex;
    flex-direction: column;*/
    justify-content: center; 
    padding: 5%;
    

}
.remove-img{
    width: 100%;
}
.remove-btn{
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
    background-color: transparent;
}




.image-button {
    width: 30px;
    height: 30px;
}



.pippo {
    display: flex;
    border: solid green;
    align-self: center;
    width: 100px;
    height: 100px;

}